<!-- Kovács Dorina
     2022-11-09
     SZOFT II/N -->

<div class="container">
  <h6>Feladat 0303</h6>
  <h1 class="text-center">Gyepesítés</h1>
  <hr>
  <div class="radius m-2">
    <label for="radius" class="form-label">Sugár</label>
    <input type="text" id="radius" class="form-control" [(ngModel)] = 'radius' required>
  </div>

  <div class="text-center m-2 d-grid  gap-2">
    <button (click)="calcArea()" class="form-control"  class="btn btn-outline-info">Számít</button>
  </div>

  <div class="area m-2">
    <label for="area" class="form-label">Terület fele</label>
    <input type="text" style="border-radius: 20px;" id="area" class="form-control" [(ngModel)] = 'area' disabled>
  </div>

  <div class="sum m-2">
    <label for="sum" class="form-label">Fizetendő összeg</label>
    <input type="text" style="background-color: rgba(124, 172, 187, 0.342); border-radius: 20px; " id="sum" class="form-control" [(ngModel)] = 'sum' disabled>
  </div>

</div>