<!-- Kovács Dorina
     2022-11-09
     SZOFT II/N -->

<div class="container">
  <h6>Feladat 0303</h6>
  <h1 class="text-center">Gyepesítés</h1>
  <hr>
  <div class="radius m-2">
    <label for="radius" class="form-label">Sugár</label>
    <input type="text" id="radius" class="form-control" [(ngModel)] = 'radius' required>
  </div>

  <div class="text-center m-2 d-grid  gap-2">
    <button (click)="calcArea()" class="form-control"  class="btn btn-outline-info">Számít</button>
  </div>

  <div class="area m-2">
    <label for="area" class="form-label">Teljes Terület</label>
    <input type="text" style="border-radius: 20px; opacity: 0.5;" id="area" class="form-control" [(ngModel)] = 'area' disabled>
  </div>

  <div class="halfarea m-2">
    <label for="halfarea" class="form-label">Terület fele</label>
    <input type="text" style="border-radius: 20px; opacity: 0.5;" id="halfarea" class="form-control" [(ngModel)] = 'halfarea' disabled>
  </div>

  <div class="price m-2">
    <label for="price" class="form-label">Fizetendő összeg</label>
    <input type="text" style="background-color: rgba(124, 172, 187, 0.342); border-radius: 20px; " id="price" class="form-control" [(ngModel)] = 'price' disabled>
  </div>

  <div class="about m-2 mt-4 text-center" 
  style="background-color: rgba(58, 163, 163, 0.356);
  border-radius: 5px;">
    Kovács Dorina, 2022-11-09, SZOFT II/N
  </div>
</div>